boskos/* @krzyzacy

gcsweb/* @thockin @rmmh

gubernator/* @rmmh

kettle/* @rmmh

kubetest/* @fejta

# mungegithub/* ?

prow/* @spxtr @rmmh
prow/config.yaml @spxtr @rmmh @fejta @krzyzacy @ixdy

triage/* @rmmh

velodrome/* @apelisse
